extends ../layout

block extraHeader
	script(type='text/javascript').		
		function updateVisits(secretid) {
			console.log("Fetching...");
			$.getJSON("http://localhost:3000/admin/visits/"+secretid, function(visitlist){
				var buffer = " ";
				buffer = '<table style="width:100%" class="visits" id="table_'+secretid+'">';
				buffer += '<tr>';
				buffer += '<td><b>Access Date<b></td>';
				buffer += '<td><b>User Agent<b></td>';
				buffer += '<td><b>IP<b></td>';
				buffer += '<td><b>Location<b></td>';
				buffer += '</tr>';
				$.each(visitlist, function (index, visit) {
					buffer += '<tr>';
					buffer += '<td>'+visit.access_date+'</td>';
					buffer += '<td>'+visit.user_agent+'</td>';
					buffer += '<td>'+visit.ip+'</td>';
					buffer += '<td>'+visit.location+'</td>';
					buffer += '</tr>';
					//console.log(visit.user_agent);
				});
				buffer += '</table>';
				$("#table_container_"+secretid).html(buffer);
			});
		}
		
		$( document ).ready(function() {
			$( '.table_container' ).hide();
			$( '.secret' ).on('click', '.secret', function() {
				updateVisits(this.id);
				$("table_container"+this.id).toggle( "slow", function() {
					// Animation complete.
				});
			});
		});	
		
		function toggleButton(secretid) {
			updateVisits(secretid);
			$("#table_container_"+secretid).toggle( "slow", function() {
				// Animation complete.
			});
		}
		
block content 	
	h1= title
	form#formNewSecret(name="newsecret",method="post",action="/admin/secrets")
		input#inputSecret(type="text",placeholder="Secret",name="secret")
		br
		input#inputNote(type="text",placeholder="Note",name="note")
		br
		button#btnSubmit(type="submit") Submit
	ul
		each secret in secretlist
			li
				div(class='secret' id=secret._id)
					p #{secret.secret} | #{secret.note} | #{moment(secret.last_access).format("YYYY MMMM Do, HH:mm:ss")} | 
						button#btnToggle(onclick="toggleButton('"+secret._id+"')" type="button") Visits
				div(class='table_container' id="table_container_"+secret._id)
					p Hello!
